.general{
    display: flex;
    width: 100%;
    min-width: 1024px;
    min-height: 768px;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items:center;

}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

a{
    text-decoration: none;
}

.navega li{
    list-style: none;
    display: inline;
    padding: 2em;
}

.boton{
    display: flex;
    flex: 1;
}